<div class="header d-flex align-items-top" style="border-top: 15px solid rgb(223, 154, 84);">
    <div class="nav-bar">
    <nav _ngcontent-xvg-c88="" class="navbar navbar-expand-lg align-items-lg-start justify-content-lg-between ng-tns-c88-0">
  <div _ngcontent-xvg-c88="" class="button-wrapper ng-tns-c88-0">
    <button _ngcontent-xvg-c88="" type="button" class="navbar-toggler navbar-toggler-right collapsed order-0 ng-tns-c88-0" aria-expanded="false">
      <span _ngcontent-xvg-c88="" class="icon-bar top-bar ng-tns-c88-0"></span>
      <span _ngcontent-xvg-c88="" class="icon-bar middle-bar ng-tns-c88-0"></span>
      <span _ngcontent-xvg-c88="" class="icon-bar bottom-bar ng-tns-c88-0"></span>
      <span _ngcontent-xvg-c88="" class="sr-only ng-tns-c88-0">Přepnout navigaci</span>
    </button>
  </div>

  <div _ngcontent-xvg-c88="" class="menu-wrapper justify-content-lg-end order-4 order-lg-1 ng-tns-c88-0 ng-trigger ng-trigger-openClose" style="height: 0px;">
    <ul class="menu-content navbar-nav align-items-center flex-wrap align-content-center ng-tns-c88-0">
        <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/">Domů</a></li>
        <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/on-line-pojisteni/">Pojištení on-line</a></li>
        <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/reseni-skod/">Řešení škod</a></li>
        <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/o-spolecnosti/">O nás</a></li>
        <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/kde-nas-najdete/">Kontakt</a>
        </li>
      </ul>
  </div>

  <div _ngcontent-xvg-c88="" class="nav-brand order-2 order-lg-3 ng-tns-c88-0">
    <div class="brand-content d-none d-lg-block ng-tns-c88-0"></div><div class="brand-content small d-block d-lg-none ng-tns-c88-0"></div>
  </div>

  <div _ngcontent-xvg-c88="" class="right-wrapper order-3 order-lg-4 ng-tns-c88-0">
    <div class="right-content flex-grow-1 d-flex align-items-center ng-tns-c88-0">
        
          
          <div class="ng-star-inserted"></div>
        <!---->
        <!---->
        <!---->
        <!---->
      </div>
  </div>
</nav>
</div>
  </div>