<div class="header d-flex align-items-top navbar-light" style="border-top: 15px solid rgb(223, 154, 84);">
    <div class="nav-bar">
        <nav class="navbar navbar-expand-lg align-items-lg-start justify-content-lg-between">
            <div class="button-wrapper">
                <button (click)="isCollapsed = !isCollapsed" class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>

            <div [collapse]="isCollapsed" [isAnimated]="true" class="navbar-collapse menu-wrapper justify-content-lg-end order-4 order-lg-1">
                <ul class="menu-content navbar-nav align-items-center flex-wrap align-content-center">
                    <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/">Domů</a></li>
                    <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/on-line-pojisteni/">Pojištení on-line</a></li>
                    <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/reseni-skod/">Řešení škod</a></li>
                    <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/o-spolecnosti/">O nás</a></li>
                    <li class="nav-item d-lg-inline"><a target="_blank" href="https://www.pvzp.cz/cs/kde-nas-najdete/">Kontakt</a></li>
                </ul>
            </div>

            <div class="nav-brand order-2 order-lg-3">
            <div class="brand-content d-none d-lg-block"></div><div class="brand-content small d-block d-lg-none"></div>
            </div>

            <div class="right-wrapper order-3 order-lg-4">
            <div class="right-content flex-grow-1 d-flex align-items-center">


                    <div class="ng-star-inserted"></div>
                <!---->
                <!---->
                <!---->
                <!---->
                </div>
            </div>
        </nav>
    </div>
</div>
