<form [formGroup]="insurancePlaceFormGroup"
      (ngSubmit)="insuranceFormSubmit()" class="insurance-place-form">
  <div class="form-row justify-content-center">
    <div class="form-group col-4 text-center">
      <app-zip-code [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).zipCode"></app-zip-code>
    </div>
    <div class="form-group col-md-4 text-center">
      <app-municipality [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).municipality"></app-municipality>
    </div>
    <div class="form-group col-md-4 text-center">
      <app-municipality-part [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).municipalityPart"></app-municipality-part>
    </div>
    <div class="form-group col-md-10">
      <app-street [publicForm]="insurancePlaceFormGroup" class="w-100" [value]="(insurancePlaceFormState$ | async).street"></app-street>
    </div>
  </div>

  <div class="form-row">
    <div class="form-group col-md-4 text-center">
      <app-number-descriptive [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).numberDescriptive"></app-number-descriptive>
    </div>
    <div class="form-group col-md-4 text-center">
      <app-number-registered [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).numberRegistered"></app-number-registered>
    </div>
    <div class="form-group col-md-4 text-center">
      <app-number-oriented [publicForm]="insurancePlaceFormGroup" [value]="(insurancePlaceFormState$ | async).numberOriented"></app-number-oriented>
    </div>
  </div>

  <button type="submit" class="btn btn-outline-primary" (submit)="insuranceFormSubmit()">Submit</button>
</form>
