<div class="third-step">
  <h1>{{'thirdStep.title' | translate}}</h1>
  <section>
    <h2 class="third-step__title pl-md-3">{{'thirdStep.insurance-place' | translate}}</h2>
    <app-insurance-place-form></app-insurance-place-form>
  </section>
  <section>
    <h2 class="third-step__title pl-md-3">{{'thirdStep.insurance-building' | translate}}</h2>
    <app-residential-insurance-form></app-residential-insurance-form>
  </section>
  <section>
    <h2 class="third-step__title pl-md-3">{{'thirdStep.insurance-home' | translate}}</h2>
  </section>
</div>

